# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend-react-blog/node_modules
frontend-react-blog/.pnp
frontend-react-blog/.pnp.js

# testing
frontend-react-blog/coverage

# production
frontend-react-blog/build

# misc
frontend-react-blog/.DS_Store
frontend-react-blog/.env.local
frontend-react-blog/.env.development.local
frontend-react-blog/.env.test.local
frontend-react-blog/.env.production.local

frontend-react-blog/npm-debug.log*
frontend-react-blog/yarn-debug.log*
frontend-react-blog/yarn-error.log*

## UserService
UserService/*.runtimeconfig.json.dev
UserService/*.deps
UserService/bin/
UserService/obj/
UserService/*.swp
UserService/*.swo
UserService/*.[Rr]e[Ss]harper
UserService/nccompile*
UserService/*.bak
UserService/*.pidb
UserService/*.dbmdl
UserService/*.dbproj.schemaview
UserService/*.pfx
UserService/*.publishsettings
UserService/Thumbs.db
UserService/ehthumbs.db
UserService/Desktop.ini
UserService/$RECYCLE.BIN/
UserService/.vscode/
UserService/*.code-workspace
UserService/.idea/
UserService/*.exe
UserService/*.dll
UserService/*.pdb
UserService/_TDS_
UserService/_ReSharper*/
UserService/*.[Rr]e[Ss]harper
UserService/.JustCode
UserService/_TeamCity*
UserService/*.dotCover
UserService/_NCrunch_*
UserService/.*crunch*.local.xml
UserService/*.mm.*
UserService/AutoTest.Net/
UserService/Thumbs.db
UserService/ehthumbs.db
UserService/.DS_Store
UserService/*.swp
UserService/Thumbs.db
UserService/ehthumbs.db
UserService/.vscode/
UserService/.vs/
UserService/bin/
UserService/obj/

docker-postgres-userservice/

## BlogService
BlogService/*.runtimeconfig.json.dev
BlogService/*.deps
BlogService/bin/
BlogService/obj/
BlogService/*.swp
BlogService/*.swo
BlogService/*.[Rr]e[Ss]harper
BlogService/nccompile*
BlogService/*.bak
BlogService/*.pidb
BlogService/*.dbmdl
BlogService/*.dbproj.schemaview
BlogService/*.pfx
BlogService/*.publishsettings
BlogService/Thumbs.db
BlogService/ehthumbs.db
BlogService/Desktop.ini
BlogService/$RECYCLE.BIN/
BlogService/.vscode/
BlogService/*.code-workspace
BlogService/.idea/
BlogService/*.exe
BlogService/*.dll
BlogService/*.pdb
BlogService/_TDS_
BlogService/_ReSharper*/
BlogService/*.[Rr]e[Ss]harper
BlogService/.JustCode
BlogService/_TeamCity*
BlogService/*.dotCover
BlogService/_NCrunch_*
BlogService/.*crunch*.local.xml
BlogService/*.mm.*
BlogService/AutoTest.Net/
BlogService/Thumbs.db
BlogService/ehthumbs.db
BlogService/.DS_Store
BlogService/*.swp
BlogService/Thumbs.db
BlogService/ehthumbs.db
BlogService/.vscode/
BlogService/.vs/
BlogService/bin/
BlogService/obj/

## NotificationService
NotificationService/*.runtimeconfig.json.dev
NotificationService/*.deps
NotificationService/bin/
NotificationService/obj/
NotificationService/*.swp
NotificationService/*.swo
NotificationService/*.[Rr]e[Ss]harper
NotificationService/nccompile*
NotificationService/*.bak
NotificationService/*.pidb
NotificationService/*.dbmdl
NotificationService/*.dbproj.schemaview
NotificationService/*.pfx
NotificationService/*.publishsettings
NotificationService/Thumbs.db
NotificationService/ehthumbs.db
NotificationService/Desktop.ini
NotificationService/$RECYCLE.BIN/
NotificationService/.vscode/
NotificationService/*.code-workspace
NotificationService/.idea/
NotificationService/*.exe
NotificationService/*.dll
NotificationService/*.pdb
NotificationService/_TDS_
NotificationService/_ReSharper*/
NotificationService/*.[Rr]e[Ss]harper
NotificationService/.JustCode
NotificationService/_TeamCity*
NotificationService/*.dotCover
NotificationService/_NCrunch_*
NotificationService/.*crunch*.local.xml
NotificationService/*.mm.*
NotificationService/AutoTest.Net/
NotificationService/Thumbs.db
NotificationService/ehthumbs.db
NotificationService/.DS_Store
NotificationService/*.swp
NotificationService/Thumbs.db
NotificationService/ehthumbs.db
NotificationService/.vscode/
NotificationService/.vs/
NotificationService/bin/
NotificationService/obj/