# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend-react-blog/node_modules
frontend-react-blog/.pnp
frontend-react-blog/.pnp.js

# testing
frontend-react-blog/coverage

# production
frontend-react-blog/build

# misc
frontend-react-blog/.DS_Store
frontend-react-blog/.env.local
frontend-react-blog/.env.development.local
frontend-react-blog/.env.test.local
frontend-react-blog/.env.production.local

frontend-react-blog/npm-debug.log*
frontend-react-blog/yarn-debug.log*
frontend-react-blog/yarn-error.log*

## UserService
UserService/*.runtimeconfig.json.dev
UserService/*.deps
UserService/bin/
UserService/obj/
UserService/*.swp
UserService/*.swo
UserService/*.[Rr]e[Ss]harper
UserService/nccompile*
UserService/*.bak
UserService/*.pidb
UserService/*.dbmdl
UserService/*.dbproj.schemaview
UserService/*.pfx
UserService/*.publishsettings
UserService/Thumbs.db
UserService/ehthumbs.db
UserService/Desktop.ini
UserService/$RECYCLE.BIN/
UserService/.vscode/
UserService/*.code-workspace
UserService/.idea/
UserService/*.exe
UserService/*.dll
UserService/*.pdb
UserService/_TDS_
UserService/_ReSharper*/
UserService/*.[Rr]e[Ss]harper
UserService/.JustCode
UserService/_TeamCity*
UserService/*.dotCover
UserService/_NCrunch_*
UserService/.*crunch*.local.xml
UserService/*.mm.*
UserService/AutoTest.Net/
UserService/Thumbs.db
UserService/ehthumbs.db
UserService/.DS_Store
UserService/*.swp
UserService/Thumbs.db
UserService/ehthumbs.db
UserService/.vscode/
UserService/.vs/
UserService/bin/
UserService/obj/

docker-postgres-userservice/